
$white: #fffaef;
$purple: #730071;
$primary: $purple;
$yellow: #e0aa38;
$secondary: $yellow;
$green: #57886C;
$black: #553819;
$blue: #016FB9;
$cyan: #22AED1;
$pink: #F8C7CC;
$red: #DE3C4B;
$yiq-text-dark: $black;
$light: $white;
$gray-100: #ECE7DD;
$gray-200: #D8D4CB;
$gray-300: #C5C0B9;
$gray-400: #B1ADA7;
$gray-500: #9E9A95;
$gray-600: #8A8783;
$gray-700: #777371;
$gray-800: #63605F;
$gray-900: #504D4D;
$dark: $black;
$body-color: $black;