@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@700;800&display=swap');

:root {

    --r-main-color: #553819;
    --r-heading-color: #553819;
    --r-background-color: #fffaef;
    --r-link-color: #730071;
    --r-link-color-hover: #e000dd;
    --r-link-color-dark: #410040;
    --global-color-primary: #e0aa38;
    --accent: var(--r-link-color);
    --sans-serif: "Open Sans", sans-serif;
    --serif: "Gentium Book Plus", serif;
    --r-heading-font: var(--sans-serif);
    --r-main-font: var(--serif);
}

h2.wordpress {
    color: #e0aa38;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3.wordpress {
    font-family: var(--r-main-font);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.38;
    padding: 0;
    text-rendering: optimizeLegibility;
}   
h3.wordpress a {
    color: var(--r-main-color);
    text-decoration: none;
}


hr {
    border: 3px solid var(--accent);
}

.navbar {
    font-family: var(--sans-serif);
}

.container {
    display: flex !important;
}
.col {
    
    flex: 1;
}

.col-8 {
    display: block;
    width: 80%;
}

.col-6 {
    display: block;
    width: 60%;
}